@{
    ViewData["Title"] = "Thành công";
}

<div style="text-align:center;margin-top:50px;">
    <h2>🎉 Đặt hàng thành công</h2>
    <p>Mã đơn hàng: <b>@ViewBag.OrderId</b></p>

    <a href="/" style="margin-top:20px;display:inline-block;">
        ← Quay về trang chủ
    </a>
</div>