USE [QLCuaHang]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 3/23/2026 1:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCTHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDon] [nvarchar](50) NULL,
	[MaSanPham] [varchar](10) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[ThanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 3/23/2026 1:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaCTPN] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuNhap] [varchar](10) NULL,
	[MaSanPham] [varchar](10) NULL,
	[SoLuong] [int] NULL,
	[GiaNhap] [decimal](18, 2) NULL,
	[ThanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 3/23/2026 1:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [varchar](10) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 3/23/2026 1:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [nvarchar](50) NOT NULL,
	[NgayLap] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 3/23/2026 1:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](10) NOT NULL,
	[TenCongTy] [nvarchar](150) NULL,
	[DienThoai] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 3/23/2026 1:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPhieuNhap] [varchar](10) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[MaNCC] [varchar](10) NULL,
	[TongTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 3/23/2026 1:30:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [varchar](10) NOT NULL,
	[TenSanPham] [nvarchar](150) NULL,
	[SKU] [varchar](50) NULL,
	[MaDanhMuc] [varchar](10) NULL,
	[MaNCC] [varchar](10) NULL,
	[GiaNhap] [decimal](18, 2) NULL,
	[GiaBan] [decimal](18, 2) NULL,
	[TonKho] [int] NULL,
	[MucCanhBao] [int] NULL,
	[NgayThem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHoaDon], [MaSanPham], [SoLuong], [DonGia], [ThanhTien]) VALUES (1, N'HD001', N'SP001', 2, CAST(10000.00 AS Decimal(18, 2)), CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHoaDon], [MaSanPham], [SoLuong], [DonGia], [ThanhTien]) VALUES (2, N'HD001', N'SP011', 1, CAST(32000.00 AS Decimal(18, 2)), CAST(32000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHoaDon], [MaSanPham], [SoLuong], [DonGia], [ThanhTien]) VALUES (3, N'HD002', N'SP021', 5, CAST(5000.00 AS Decimal(18, 2)), CAST(25000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa]) VALUES (N'DM01', N'Đồ uống', N'Nước giải khát')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa]) VALUES (N'DM02', N'Bánh kẹo', N'Đồ ăn vặt')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa]) VALUES (N'DM03', N'Mì gói', N'Thực phẩm ăn liền')
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayLap], [TongTien]) VALUES (N'1ab5dc77-0e17-44a1-bea2-047402cc32b4', CAST(N'2026-03-22T22:15:25.113' AS DateTime), CAST(30000.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayLap], [TongTien]) VALUES (N'4c59961e-38f3-4c3f-ad5a-13cbacd042ac', CAST(N'2026-03-21T23:00:58.017' AS DateTime), CAST(146000.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDon] ([MaHoaDon], [NgayLap], [TongTien]) VALUES (N'77d2a748-83e2-4a54-966c-aa46b0c24263', CAST(N'2026-03-21T23:17:47.230' AS DateTime), CAST(10000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenCongTy], [DienThoai], [DiaChi]) VALUES (N'NCC01', N'Vinamilk', N'090000001', N'Hà Nội')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenCongTy], [DienThoai], [DiaChi]) VALUES (N'NCC02', N'Coca Cola', N'090000002', N'Hồ Chí Minh')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenCongTy], [DienThoai], [DiaChi]) VALUES (N'NCC03', N'Pepsi', N'090000003', N'Hồ Chí Minh')
GO
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [SKU], [MaDanhMuc], [MaNCC], [GiaNhap], [GiaBan], [TonKho], [MucCanhBao], [NgayThem]) VALUES (N'SP001', N'Coca Cola 330ml', N'SKU001', N'DM01', N'NCC02', CAST(7000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), 48, 50, CAST(N'2026-03-16T16:08:56.410' AS DateTime))
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [SKU], [MaDanhMuc], [MaNCC], [GiaNhap], [GiaBan], [TonKho], [MucCanhBao], [NgayThem]) VALUES (N'SP002', N'Pepsi 330ml', N'SKU002', N'DM01', N'NCC03', CAST(7000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), 59, 50, CAST(N'2026-03-16T16:08:56.410' AS DateTime))
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [SKU], [MaDanhMuc], [MaNCC], [GiaNhap], [GiaBan], [TonKho], [MucCanhBao], [NgayThem]) VALUES (N'SP003', N'7Up', N'SKU003', N'DM01', N'NCC03', CAST(7000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), 44, 50, CAST(N'2026-03-16T16:08:56.410' AS DateTime))
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [TonKho]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((10)) FOR [MucCanhBao]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
